<div class="mb-3">
  <label class="form-label" [for]="inputId">{{title}}</label>
  <div class="input-group" [class.is-invalid]="error">
    <input type="number" class="form-control" [id]="inputId" [(ngModel)]="value" (change)="onChange(value)"
      [class.is-invalid]="error">
    <button *ngIf="showAdd" class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="nextAsn()"
      [disabled]="value">+1</button>
    <button *ngIf="!showAdd" class="btn btn-outline-secondary" type="button" (click)="startPrint()"
      [disabled]="value"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-printer-fill" viewBox="0 0 16 16">
        <path
          d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
        <path
          d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
      </svg></button>
  </div>
  <div class="invalid-feedback">
    {{error}}
  </div>
  <small *ngIf="hint" class="form-text text-muted">{{hint}}</small>

</div>